langchain==0.3.7
langchain-community==0.3.5
langchain-huggingface==0.1.2
langchain-ollama==0.2.0
chromadb==0.5.16
gradio==5.5.0
python-dotenv==1.0.1
pypdf==5.1.0
sentence-transformers==3.3.1
tiktoken==0.8.0
